<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1>Avion Rails Blog</h1>
        <ul class="nav navbar-nav">
          <li>Home</li>
          <li class="active"><a href="#">Articles</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
